input[type='range'] {
    border: 1px solid;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    width: 400px;
    height: 25px;
    cursor: pointer;
    float: left;
    background: repeating-linear-gradient(
        90deg,
        #777,
        #777 1px,
        transparent 1px,
        transparent 40px
      )
      no-repeat 782% 50%;
    background-size: 395px 25px;
  }
  input[type='range'],
  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    box-sizing: border-box;
    width: 200px;
    height: 5px;
    border-radius: 2px;
    background: #777;
  }
  
  input[type='range']::-webkit-slider-thumb {
    box-sizing: border-box;
    padding: 0px;
    height: 20px;
    width: 10px;
    border-radius: 90px;
    border: 1px solid;
    margin-top: -8px;
    background: #eee;
  }
  
  .container:after {
    position: relative;
    color: #777;
    content: '20 40 60 80 100';
    padding: 40px;
    word-spacing: 60px;
  
    right: 373px;
    top: 0px;
  
    float: left;
  }
  .container {
    padding: 0px;
    position: relative;
    text-align: left;
    right: 0px;
    left: 200px;
  }
  html{
    height: 100%;
  }
  body {
    min-height: 100%;
    background-image: url('https://img.freepik.com/free-vector/hexagonal-shape-3d-perspective-style-white-background-design_1017-27558.jpg?w=2000');
    
  }
  #drop1 {
    position: relative;
    left: 200px;
  }
  p{
    position: relative;
    left: 11%;
  }
  
  button{
        border-radius: 25px;
        width: 40px;
        height:40px;
        text-decoration:dashed;
   }
        
   
nav {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0.5rem;
    gap: 30px;
    border-bottom: solid 1px rgb(0, 0, 0);
    background-color: #41b3a3;
    border-radius: 20px;
    flex-wrap: inherit;
    transition: 1s ease;
  }
  
  nav :hover {
    background-color: #e27d60;
    color: #000;
  }
  
  nav a {
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  nav a[aria-current='page'] {
    color: #000;
    background-color: #d4d4d4;
  }
  
.pagination {
    display: inline-block;
    align-content: center;
  }
  
  .pagination a {
    color: black;
    float: bottom;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s,ease;
  
  }
  
  .pagination a.active {
    background-color: (207, 195, 195);
    color: rgb(0, 0, 0);
  }
  
  .pagination a:hover:not(.active) {
    background-color: #E27D60;
    border-radius: 10px;
  }